backend_1/node_modules
backend_2/node_modules
backend_3/node_modules
backend_4/node_modules
backend_5/node_modules
udp/node_modules
queue/node_modules

backend_1/dist
backend_2/dist
backend_3/dist
backend_4/dist
backend_5/dist
udp/dist
queue/dist

backend_1/logs
backend_2/logs
backend_3/logs
backend_4/logs
backend_5/logs
udp/logs
queue/logs